@{
    ViewBag.Title = "Контакти";
}

<header class="masthead" style="background-image: url('/images/18.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Semkovo</h1>
                    <span class="subheading">Virgin nature</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11851.017337321655!2d23.525076!3d42.048448!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe288ad17240d7f20!2z0KXQuNC20LAgItCh0LXQvNC60L7QstC-Ig!5e0!3m2!1sbg!2sbg!4v1515334939849" width="580" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="http://purebulgaria.net/pictures/rila_semkovo1.jpg" alt="">
        </div>
    </div>

    <div class="col-sm-12 contacts-address">
        <div class="col-sm-6 contacts-address">
            <address>
                <strong>Адрес:</strong><br />
                на 17 километра от град Белица, в полите на Рила / около 1600 м.н.в./<br /><br />
                <strong>Телефон за връзка: 08889999999</strong><br />
            </address>
        </div>
        <div class="col-sm-6 contacts-address">
            <address>
                <p><strong>Работно време:</strong></p>
                <p>Петък - Неделя </p>
                <p>През седмицата - след предварителна заявка</p>
            </address>
        </div>
    </div>
</div>